/*main.css*/

h1, h2, h3, h4, h5, h6, p, a, b, u, li, th td, span{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.mdl-layout{
    /*background: url('/img/bg-neuron.jpg');*/
    /*background: url('http://www.toca-ch.com/data/walls/127/25966247.jpg');*/
    /*background: url('http://bsnscb.com/data/out/22/39154080-blackboard-wallpapers.jpg');*/
    /*background: url('img/bg-backboard.jpg');*/
    background-color: black;
    background-size: cover;
    background-position: center center;
}

li.mdl-list__item{
	display: none
}
