/*main.css*/

h1, h2, h3, h4, h5, h6, p, a, b, u, li, th td, span, nav{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: white;
    /*color: #601A97;*/
}
a{
    text-decoration: none;
}
li:hover:not(.my-label){
    background-color: rgba(250, 250, 250, 0.35);
}
.mdl-layout{
    /*background: url('/img/bg-neuron.jpg');*/
    /*background: url('http://www.toca-ch.com/data/walls/127/25966247.jpg');*/
    /*background: url('http://bsnscb.com/data/out/22/39154080-blackboard-wallpapers.jpg');*/
    /*background: url('img/bg-backboard.jpg');*/
    /*background: url('http://cbs.fas.harvard.edu/usr/connectome/brainbow/hippoc-cortex_less-red_final.jpg');*/
    /*background-color: black;*/
    /*background-color: #E8E8E8;*/
    background-color: #1D252C;
     /*#601A97;*/
    background-size: cover;
    background-position: center center;
}
.mdl-layout__tab-bar{
    background-color: #1D252C
}
.mdl-layout__tab-bar > .is-active{

}
ul.mdl-list{
	background-color: rgba(250, 250, 250, 0.3);
	
}

/*li.mdl-list__item{
	display: none
}*/
ul.active > li.mdl-list__item{
	display: block;
}

li.my-label{
	display: block;
}

a.mdl-js-button{
	background-color: #E8E8E8;
}

/*2018-07-23 14:11:59*/

/*ul.mdl-list:not(.my-tab){
    display: none
}*/
.mdl-layout__tab-bar a{
    font-size: 12px;
    text-transform: none;
}