/**
 * @Author: shume
 * @Date:   2016-10-10 16:08:00
 * @Filename: Hippo.css
 * @Last modified by:   shume
 * @Last modified time: 2017-07-14 14:30:02
 */
@font-face{font-family: myFont1;src: url(../font/CenturyGothic.ttf);}
@font-face{font-family: myFont1;src: url(/Users/shume/Library/Fonts/FiraCode-Light.ttf);}
h1, h2, h3, h4, h5, p, a,li, th, td, dt, dd, code{font-family: myFont1;}
h1.title{color: rgb(126, 64, 177);text-transform: capitalize;font-size: 36px;}
h2{font-size: 24px}
h4{font-size: 20px}
/**h3{color: rgb(88, 211, 184);text-transform: capitalize;}**/
p, li, dt, dd, th, td{font-size: 14px}
a{color: black;}
a:hover{color: rgb(126, 64, 177);text-decoration-style: underline;/**font-weight: bold;**/}
b{color: rgb(88, 211, 184);}
/**th{text-transform: capitalize;/**color: rgb(126, 64, 177);**//**}**/
u{color: rgb(126, 64, 177)}
/*abbr{text-decoration: none;}*/
.clear{color: white;}
div.mis{border-bottom-style: solid;  border-bottom-color: rgb(88, 211, 184); border-bottom-width: 5px }
div.cau{border-bottom-style: solid;  border-bottom-color: rgb(126, 64, 177); border-bottom-width: 5px }
div.rev{border-bottom-style: solid;  border-bottom-color: gray; border-bottom-width: 5px }
span.mis{background-color: rgb(88, 211, 184);}
span.cau{background-color: rgb(126, 64, 177);}
span.rev{background-color: grey;}
span.mis:before{content: "M";}
span.cau:before{content: "C";}
span.rev:before{content: "R";}
span.hit:before{content: "H";}
span.q_alert_mis{background-color: rgb(88, 211, 184);}
span.q_alert_cau{background-color: rgb(126, 64, 177);}
span.q_alert_rev{background-color: grey;}
@media print {
	a[href]:after {content: none !important;}
	h1.title{
		color: rgb(126, 64, 177);
		text-transform: capitalize;
		font-size: 20px;}
	h1, h2, h3, h4, h5, p, a,li, th, td{
		font-family: myFont1;}
	h2{font-size: 14px}
	h4{font-size: 12px}
	p, a, li, th, td{
		font-size: 11px
	}
	b{color: rgb(88, 211, 184);}
	u{color: rgb(126, 64, 177)}
}
/**
violet
126, 64, 177

turqoise
88, 211, 184
**/
