/**
 * @Author: shume
 * @Date:   2016-10-10 16:08:00
 * @Filename: Hippo.css
 * @Last modified by:   shume
 * @Last modified time: 2017-11-20 14:52:07
 */
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

h1, h2, h3, h4, h5, h6, p, a, b, u, li th, td, span, div{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
body{padding-bottom: 70px; position: relative}
/*{padding-top: 100px; }*/
h1.title{color: rgb(126, 64, 177);text-transform: capitalize;font-size: 36px;}
h2{font-size: 24px;}
h4{font-size: 20px}
p, li, dt, dd, th, td{font-size: 14px}
a{color: black;};
/**h1, h2, h3, h4, h5, p, a,li, th, td, dt, dd{font-family: Fira Code Light;};**/
a:hover{color: rgb(126, 64, 177);
text-decoration-style: underline;
/**font-weight: bold;**/}
b{color: rgb(88, 211, 184);}
/**th{text-transform: capitalize;/**color: rgb(126, 64, 177);**//**}**/
u{color: rgb(126, 64, 177)}

span.mis{background-color: rgb(88, 211, 184);}
span.cau{background-color: rgb(126, 64, 177);}
span.rev{background-color: grey;}
span.mis:before{content: "M";}
span.cau:before{content: "C";}
span.rev:before{content: "R";}
span.hit:before{content: "H";}
span.q_alert_mis_n, span.q_alert_mis_per, div.progress-mis, span.q_alert_110_n, span.q_alert_111_n{background-color: rgb(88, 211, 184);}
span.q_alert_cau_n, span.q_alert_cau_per, div.progress-cau{background-color: rgb(126, 64, 177);}
span.q_alert_rev_n, span.q_alert_rev_per, div.progress-hit, div.progress-rev{background-color: grey;}
code.q_alert_done{color: rgb(126, 64, 177)}
#q div.card-group{margin-bottom: 20px}
div.card-body{padding: 10px 10px 10px 10px;}
td > ul{padding-left: 12px;}
div.card, table.table, ul.list-group{margin-bottom: 30px}

/*.nav-pills*/
ul.nav-pills > li > a:hover.nav-link, ul.nav-pills > .active > .nav-link{background-color: rgb(200, 200, 200);}
ul.nav-pills .active span.q_alert_mis_n{color: rgb(88, 211, 184);}
ul.nav-pills .active span.q_alert_cau_n{color: rgb(126, 64, 177);}
ul.nav-pills .active span.q_alert_hit_n, 
ul.nav-pills .active span.q_alert_rev_n, 
ul.nav-pills .active span.q_alert_all_n, 
ul.nav-pills .active span.q_alert_untag_n, 
ul.nav-pills .active span.q_alert_done_n, 
ul.nav-pills .active span.q_alert_pri_n, 
ul.nav-pills .active span.q_alert_req_n, 
ul.nav-pills .active span.q_alert_qb_n, 
ul.nav-pills .active span.q_alert_110_n, 
ul.nav-pills .active span.q_alert_111_n{color: black;} 

/*.night*/
body.night{background-color: rgb(33, 36, 44);}
.night h1,.night h2,.night h3,.night h4,.night p, .night a,.night li,.night th,.night td, .night .card-header{color: white}
.night h1.title, .night div#q div.card-body u{color: rgb(88, 211, 184)}
.night .card, .night .card-header, .night .card-body, .night li.list-group-item, .night a.btn, .night nav.navbar, .night div.dropdown-menu{background-color: rgb(33, 36, 44);}
.night .card, .night .card-header{border-color: white}
.night .correct-show{color: rgb(88, 211, 184); font-weight: bold;}
.night .correct-hide{color: grey;}

span.day{color: rgb(88, 211, 184); border-color: rgb(88, 211, 184)}
span.night{color: rgb(126, 64, 177); border-color: rgb(126, 64, 177)}

.correct-show{color: rgb(126, 64, 177); font-weight: bold;}
.correct-hide{color: grey;}
.clear{color: white;}
.card div.mis{border-bottom-style: solid;  border-bottom-color: rgb(88, 211, 184); border-bottom-width: 5px }
.card div.cau{border-bottom-style: solid;  border-bottom-color: rgb(126, 64, 177); border-bottom-width: 5px }
.card div.rev{border-bottom-style: solid;  border-bottom-color: gray; border-bottom-width: 5px }
/*print*/
@media print {
	a[href]:after {content: none !important;}
	h1.title{color: rgb(126, 64, 177);text-transform: capitalize;font-size: 36px;}
	h1, h2, h3, h4, h5, p, a,li, th, td{font-family: myFont1;}
	h2{font-size: 24px}
	td > ul{padding-left: 20px}
	b{color: rgb(88, 211, 184);}
	u{color: rgb(126, 64, 177)}}
