/* main.css */
/*4.1.40*/

@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

h1, h2, h3, h4, h5, h6, p, a, b, u, small, li th, td, span, div{font-family: "Helvetica Neue"; font-weight: thin;}
body{padding-bottom: 70px; position: relative}
/*{padding-top: 100px; }*/
h1.title{color: rgb(126, 64, 177); font-size: 36px;}
h2{font-size: 24px;}
h3{font-size: 22px;}
h4{font-size: 20px;}
p, li, dt, dd, th, td{font-size: 14px}
a{color: black;};
/**h1, h2, h3, h4, h5, p, a,li, th, td, dt, dd{font-family: Fira Code Light;};**/
a:hover{color: rgb(126, 64, 177);
text-decoration-style: underline;
/**font-weight: bold;**/}
b{color: rgb(88, 211, 184);}
/**th{text-transform: capitalize;/**color: rgb(126, 64, 177);**//**}**/
u{color: rgb(126, 64, 177)}
code{color: rgb(126, 64, 177)}

span.mis{background-color: rgb(88, 211, 184);}
span.cau{background-color: rgb(126, 64, 177);}
span.rev{background-color: grey;}
span.mis:before{content: "M";}
span.cau:before{content: "C";}
span.rev:before{content: "R";}
span.hit:before{content: "H";}
span.q_alert_mis_n, span.q_alert_mis_per, div.progress-mis, span.q_alert_110_n, span.q_alert_111_n, span.q_alert_112_n{background-color: rgb(88, 211, 184);}
span.q_alert_cau_n, span.q_alert_cau_per, div.progress-cau{background-color: rgb(126, 64, 177);}
span.q_alert_rev_n, span.q_alert_rev_per, div.progress-hit, div.progress-rev{background-color: grey;}
code.q_alert_done{color: rgb(126, 64, 177)}
#q div.card-group{margin-bottom: 10px}
div.card-body{padding: 10px 10px 10px 10px;}
td > ul, td > ol{padding-left: 12px; margin-bottom: 5px}
div.card, ul.list-group, table.table{margin-top: 10px;margin-bottom: 10px;
}
.page-header{margin-top: 10px; margin-bottom: 5px}
li.list-group-item ul, li.list-group-item ol{
    padding-left: 18px
}


/*.nav-pills*/
ul.nav-pills > li > a:hover.nav-link, ul.nav-pills > .active > .nav-link{background-color: rgb(200, 200, 200);}
ul.nav-pills .active span.q_alert_mis_n{color: rgb(88, 211, 184);}
ul.nav-pills .active span.q_alert_cau_n{color: rgb(126, 64, 177);}
ul.nav-pills .active span.q_alert_hit_n,
ul.nav-pills .active span.q_alert_rev_n,
ul.nav-pills .active span.q_alert_all_n,
ul.nav-pills .active span.q_alert_untag_n,
ul.nav-pills .active span.q_alert_done_n,
ul.nav-pills .active span.q_alert_pri_n,
ul.nav-pills .active span.q_alert_req_n,
ul.nav-pills .active span.q_alert_qb_n,
ul.nav-pills .active span.q_alert_110_n,
ul.nav-pills .active span.q_alert_111_n,
ul.nav-pills .active span.q_alert_112_n,
ul.nav-pills .active span.q_alert_info_n, 
ul.nav-pills .active span.q_alert_mnemo_n, 
ul.nav-pills .active span.q_alert_fig_n{color: black;}

/*.night*/
body.night{background-color: rgb(33, 36, 44);}
.night h1,.night h2,.night h3,.night h4,.night p, .night a,.night li,.night th,.night td, .night .card-header{color: white}
.night h1.title, .night div#q div.card-body u{color: rgb(88, 211, 184)}
.night .card, .night .card-header, .night .card-body, .night li.list-group-item, .night a.btn, .night nav.navbar, .night div.dropdown-menu{background-color: rgb(33, 36, 44);}
.night .card, .night .card-header{border-color: white}
.night .correct-show{color: rgb(88, 211, 184); font-weight: bold;}
.night .correct-hide{color: grey;}

span.day{color: rgb(88, 211, 184); border-color: rgb(88, 211, 184)}
span.night{color: rgb(126, 64, 177); border-color: rgb(126, 64, 177)}

.correct-show{color: rgb(126, 64, 177); font-weight: bold;}
.correct-hide{color: grey; text-decoration: line-through;}
.clear{color: white;}
.card div.mis{border-bottom-style: solid;  border-bottom-color: rgb(88, 211, 184); border-bottom-width: 5px }
.card div.cau{border-bottom-style: solid;  border-bottom-color: rgb(126, 64, 177); border-bottom-width: 5px }
.card div.rev{border-bottom-style: solid;  border-bottom-color: gray; border-bottom-width: 5px }


/*print*/
@media print{
    .container{margin: 0px 0px 0px 0px}
    a[href]:after {content: none !important;}
    h1, h2, h3, h4, h5, h6, p, a, b, u, small,ul, ol li th, td, span, div{font-family: "Helvetica Neue"; font-weight: thin;}

    h1.title{color: rgb(126, 64, 177); font-size: 15px;}
    h2{font-size: 14px}
    h3{font-size: 13px}
    h4,h5{font-size: 12px}
    h6{font-size: 11px}
    p, a, li, th, td{font-size: 9px}

    td > ul, td > ol{padding-left: 10px; margin-bottom: 3px;}
    b{color: rgb(88, 211, 184);}
    u{color: rgb(126, 64, 177)}
    .page-header{margin-top: 8px; margin-bottom: 2px; padding-top: 0px; padding-bottom: 0px; border-bottom: 0.5px solid;}
    .page-header small code{
        border-color: black;
        border-width: : 0.4px 0.4px 0.4px 0.4px;
    }
    div.card{border-color: black; border-width: 0.5px; margin: : 2px 0px 2px 0px}
    ul.list-group{margin: 2px 0px 2px 0px}
    li.list-group-item{border-color: black; border-width: 0.5px; padding: 5px 5px 5px 5px}
    table{margin: 2px 0px 2px 0px}
    div.card-header{font-size: 11px}
    
    table.table-condensed > thead,
    table.table-condensed > thead > tr > th,
    table.table-condensed > tbody > tr > th,
    table.table-condensed > tbody > tr > td{
        border-bottom: 0.5px solid black;
    }
    table.table-condensed > tbody > tr:first-child > th,
    table.table-condensed > tbody > tr:first-child > td{
        border-top: 0.5px solid black;
    }

    table.table-bordered > thead, 
    table.table-bordered > thead > tr > th, 
    table.table-bordered > tbody > tr > th, 
    table.table-bordered > tbody > tr > td{
        border: 0.5px solid black;
    }

}